.button-controle{
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.button-controle a{
  text-align: center;
  text-decoration: none;
  color:grey;
  font-size: 24px;
  font-weight: 900;
}

.button-profil{
  position: absolute;
  bottom:0px;
  left:0;
  min-width: 100%;
  background-color: #BEAF87;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.button-profil a{
  text-align: center;
  text-decoration: none;
  color:white;
  font-size: 24px;
  font-weight: 900;
  width:100%;
  padding: 10px 0;
  transition: all 0.3s;
}


.button-profil a:hover{
  background-color: #4B4B4B;
}


.hamburger{
  display: none;
  position: fixed;
  top: 10px;
  left: 10px;
    z-index: 5;
  background-color: #AF9140;
  opacity: 0.8;
}

.hamburger .fa-solid.fa-bars{
  font-size: 40px;
  padding: 8px;
  color: rgb(255, 255, 255);
  box-shadow: 0 0px 30px rgba(0, 0, 0, 0.7);
}


.btn{
  background-color: #BEAF87 ;
  padding: 16px 24px;
  color:white;
  margin: 42px auto;
}
