

 /* carte choix ------------------------------*/
.choix-cartes {
  display: flex;
  overflow: hidden;
  margin-bottom: 24px;

}

.choix-carte{
  position: relative;
  background-position: center;
  background-size: cover;
  filter: grayscale() contrast(1.75);;
  transition: all 0.5s;
}

.choix-carte.buy{
  background-image: url('../images/achat.webp');
}

.choix-carte.sell{
  background-image: url('../images/VENTE.webp');
}

.choix-carte.renov{
  background-image: url('../images/RENOVATION.webp');

}

.choix-titre{
  position: absolute;
  top:40%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  white-space: nowrap;
  transition: all 0.5s;
  text-shadow: 0 0 10px rgba(0,0,0,1);
}

.choix-titre > img {
  width :50px;
  height: 50px;
  opacity: 0;
  transition: all 0.5s;
}

.choix-titre h3 {
 font-size: 36px;
 font-weight: bolder;
 color: white;}

.choix-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  position: relative;
  background-color: rgba(255, 255, 255, 0.8);
  opacity: 0;
  transform: translateY(100%);
  margin-top: 130px;
  padding: 32px 24px;
  padding-bottom: 60px;
  overflow: hidden;
  text-align: left;
  transition: all 0.5s;
}


.choix-content p {
  position: relative;
  font-weight: 400;
  transform: translateX(-600px);
  transition:0.5s all 0.3s;
}

.choix-content p:nth-child(1) {
  padding: 16px 0;
}

.choix-content p:nth-child(3) {
  padding: 32px 0;
}

.choix-barre-color {
  position: absolute;
  opacity: 0;
  background-color: #AF9140 ;
  bottom: 0;
  min-width: 100%;
  min-height: 30px;
  transition: all 0.5s;
}

.choix-carte.buy:hover{
  filter: none;
}

.choix-carte.sell:hover{
  filter: none;

}

.choix-carte.renov:hover{
  filter: none;
 ;
}

.choix-carte:hover .choix-titre{
  top:10%;
}

.choix-carte:hover .choix-titre img{
  opacity: 1;
}

.choix-carte:hover .choix-content{
  transform: translateX(0px);
  height: 100%;
  opacity: 1;
}

.choix-carte:hover .choix-content p{
  transform: translateY(0px);
}


.choix-carte:hover .choix-barre-color{
  bottom: 0px;
  opacity: 1;
}

 /* fin carte choix ------------------------------*/

 /* carte controle------------------------------*/

.cards{
  display:flex;
  gap:20px;
  margin: 50px 0;
}



.card-projet{
  min-width: 300px;
  border:0px solid rgba(255,255,255,0);
  background-color: white;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.3);
  text-align: center;
  margin-bottom: 80px;
  transition: all 0.4s;

}

.card-projet:hover {
  background-color: #BEAF87;
  box-shadow: 0px 10px 30px rgba(255,255,255,0.2);


}

.card-projet:hover h3{
  background-color: white;
  color: #BEAF87;
}

.card-projet:hover a{
  background-color: white;
  color: #BEAF87;
}

.card-projet h3{
  padding:8px 16px;
  text-align: center;
  color: white;
  background-color: #BEAF87;
  font-size: 24px;
  font-weight: bolder;
}

.card-projet p{
  padding:8px 16px;
  text-align: center;
  color:black;
  margin: 20px 0;
}

.card-projet-link{
  margin-bottom: 24px;


}

.card-projet a{
  padding:8px 16px;
  background-color: #BEAF87;
  font-size: 24px;
  font-weight: 600;
  text-decoration: none;
  color: white;


}



 /* carte controle ------------------------------*/
 .cards-controle-point{
    display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
  z-index: 2;
 }

 .card-controle-point.slogan{
  display: flex;
justify-content: center;
align-items: center;
padding :32px;
max-width:  250px;
font-size: 32px;
font-weight: bold;

}

.card-controle-point.slogan h3{
font-size: 24px;
font-weight: bolder;
color: #4B4B4B;
}

 .card-controle-point{
  display: flex;
  position: relative;
  justify-content: space-around;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.3);
  z-index: 2;
  transition:all 0.3s;
  cursor: pointer;
 }

 .card-controle-point:hover{
    transform: scale(1.1);
 }

 .card-controle-point-img{
  width: 100px;
  position: relative;
  background-size: cover;
  background-position: center;
  border-radius: 4px;
 }



 .card-controle-point-img > img{
 position: absolute;
 top: 20px;
 right: -40px;
 width: 80px;
 height: 80px;
 }

 .card-controle-point-content{
  flex-grow: 2;
  padding: 24px 48px;
  text-align: center;
 }
 .card-controle-point-content h3{
  font-size: 24px;
  font-weight: bolder;
  margin-top: 40px;
  margin-bottom: 24px;
  color: #4B4B4B;
 }

 .card-controle-point-content p {
  font-weight: regular;
  margin-bottom: 24px;
  color: #4B4B4B;
 }

 .card-controle-point-content a {
  background-color: #BEAF87;
  display: block;
  text-decoration: none;
  color: white;
  padding: 16px 24px;
  transition: all 0.3s;
 }

 .card-controle-point-content a:hover {
  background-color: #8a7f62;
 }


 /* carte profil ------------------------------*/
 .profil-cards{
  display:flex;
  gap:25px;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
 }

 .profil-card{
  order : 2;
  position: relative;
  border:2px solid #BEAF87;
  background-color: white;
  width: 40%;
  min-height: 280px;
  transition: all 0.3s;
 }

 .profil-card:hover{
  border:2px solid  #4B4B4B;
  transform: scale(1.05);
 }

 .card-profil-flex{

  display: flex;
  justify-content: space-between;
  padding :16px;
  flex-grow: 1;
 }


 .profil-card.slogan{
  order : 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border:2px solid transparent;
  background-color:  #BEAF87;
  max-width: 100%;
  min-height: 280px;
 }
 .profil-card.slogan p{
  width: 100%;
  height: 100%;
  margin: 0; /* Assurez-vous qu'il n'y a pas de marges pour éviter tout débordement */
  box-sizing: border-box;
  text-align: center;
  font-size: 24px;
  color: white;
 }






 .card-profil-img{
  border:2px solid #BEAF87;
  background-size: cover;
  background-position: center;
  width: 100px;
  height: 100px;
 }

 .card-profil-text{
  flex:1;
  padding: 0 24px;
 }
