.container {
  width:1300px;
  margin: 0px auto;
  position: relative;


}

.container-content{
  display: flex;
  justify-content: space-between;
  gap:30px;
  padding-bottom: 50px;
}

@media (max-width: 1300px) {
  /* Pour un écran < 960px, cette classe CSS s'applique */
  .container {
    width: 1200px;
  }
}

@media (max-width: 1200px) {
  /* Pour un écran < 960px, cette classe CSS s'applique */
  .container {
    width: 900px;
  }
  .cards-controle-point{
    flex-direction: column;
    gap:24px;
  }
  .card-controle-point{
    order:2;
  }
  .card-controle-point.slogan{
    order:1;
    max-width: 100%;
  }

  .profil-cards{
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .profil-card{
    width: 100%;
  }
}


@media (max-width: 960px) {
  /* Pour un écran < 960px, cette classe CSS s'applique */
  .container {
    width: 700px;
  }
  .choix-cartes{
    flex-direction: column;
    gap:24px;
  }
  .choix-titre{
    top:10%;
  }
  .choix-titre img{
    opacity: 1;
  }
  .choix-content{
    transform: translateX(0px);
    opacity: 1;
  }
  .choix-content p{
    transform: translateY(0px);
  }
  .choix-carte{
    filter: none;
  }
  .title-line{
    display:none;
  }
  .choix-argument{
    display: flex;
    flex-direction: column;
    margin: 48px 0px;
  }
  .choix-argument-left{
    display: none;
  }
  .cards-controle-point{
    flex-direction: column;
    gap:24px;
  }
  .card-controle-point{
    order:2;
  }
  .card-controle-point.slogan{
    order:1;
    max-width: 100%;
  }

  .profil-cards{
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .profil-card{
    width: 100%;
  }

  .container-formulaire{
    flex-direction: column;
  }

  .societe{
    width: 100%;
    background-color: rgba(255,255,255,0.1);
    padding-bottom: 42px;
    border:none;
  }

  .form-contact{
    width: 100%;
  }



}

@media (max-width: 720px) {
  /* Pour un écran < 720px, cette classe CSS s'applique */
  .container {
    width: 500px;
  }

  .navbar{
    display:none;
  }

  .hamburger{
    display:block;
  }

  .header::before{
    display: none;
  }

  .header-accroche p span{
    font-size: 24px;
  }
  .choix-cartes{
    flex-direction: column;
    gap:24px;
  }
  .choix-titre{
    top:10%;
  }
  .choix-titre img{
    opacity: 1;
  }
  .choix-content{
    transform: translateX(0px);
    opacity: 1;
  }
  .choix-content p{
    transform: translateY(0px);
  }
  .choix-carte{
    filter: none;
  }
  .title-line{
    display:none;
  }
  .choix-argument-left{
    display: none;
  }

  .formules{
    flex-direction: column!important;
    width: 80%;
    margin:0 auto;
  }
  .formules-slogan{
    width: 100%;
  }
  .formules-explain-content{
    width: 80%!important;
  }
  .content-circle{
    display:none;
  }
  .footer-content{
    flex-direction: column;
    height:100%;
    align-items: center;

  }

  .footer-navigation{
    width:100%;
    text-align: center;
    border-right: none;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
  }
  .footer-follow{
    width:100%;
    padding: 20px 0;
    border-bottom: 1px solid white;
  }

  .footer-informations{
    width:100%;
    border-left: none;
    padding-top: 20px;
    text-align: center;

  }

  .container.flex{
    flex-direction: column;
  }

  .container.flex .center{
    width: 80%!important;
  }
  .securite-flex-content{
    width: 80%!important;
  }

  .offre-onglet ul{
    margin-top:0;
    flex-direction: column;
    text-align: center;

  }

  .offre-onglet ul li{
    border-bottom: 1px solid white;

  }

  #social{
    top:10px;
  }

  #social ul li a i{
    font-size: 24px;
    padding: 8px ;
  }
}

@media (max-width: 540px) {
  /* Pour un écran < 540px, cette classe CSS s'applique */
  .container {
    width: 350px;
  }
  .navbar{
    display:none;
  }


  .choix-cartes{
    flex-direction: column;
    gap:24px;
  }
  .choix-titre{
    top:10%;
  }
  .choix-titre img{
    opacity: 1;
  }
  .choix-content{
    transform: translateX(0px);
    opacity: 1;
  }
  .choix-content p{
    transform: translateY(0px);
  }
  .choix-carte{
    filter: none;
  }
  .title-line{
    display:none;
  }
  .twoinputs{
    flex-direction: column;
  }
  .form-contact{
    padding:0
  }
  textarea{
    width:80%!important;
  }
  #demande-select{
    width:100%;
  }

}
