.container {
  width:1200px;
  margin: 0px auto;
  position: relative;


}

.container-content{
  display: flex;
  justify-content: space-between;
  gap:30px;
  padding-bottom: 50px;
}
@media (max-width: 1200px) {
  /* Pour un écran < 960px, cette classe CSS s'applique */
  .container {
    width: 900px;
  }
}


@media (max-width: 960px) {
  /* Pour un écran < 960px, cette classe CSS s'applique */
  .container {
    width: 700px;
  }
  .cards {
    flex-direction: column;

  }
  .title-line{
    display:none;
  }

}

@media (max-width: 720px) {
  /* Pour un écran < 720px, cette classe CSS s'applique */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* Pour un écran < 540px, cette classe CSS s'applique */
  .container {
    width: 300px;
  }
}
