#formulescompletes{
  position:relative;
  background-color: #D9D9D9;
  z-index: 2!important;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);

}

.formules{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap:12px;
  margin : 50px 0;
  padding: 20px 0;
  z-index: 5;
}

.formules-slogan{
  display: flex;
  height: 150px;
  background-color: white;
  justify-content: space-between;
  border-radius: 4px;
  overflow: hidden;



}

.formules-slogan:hover .formules-slogan-barre{
  background-color: #8b8267;

}

.formules-slogan:hover i{
 color: #8b8267;

}

.formules-slogan-barre{
  background-color: #BEAF87;
  min-width: 30px;
  transition: all 0.3s;
}

.formules-slogan-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  color: #BEAF87;
}

.formules-slogan-content p{
  font-size: 18px;
  font-weight: bolder;
  width : 150px;
  padding: 40px;
  text-transform: uppercase;
}

.formules-slogan-content i{
  font-size: 50px;
}

.content-circle{
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.content-circle .formule-circle{
  background-color: #BEAF87;
  min-width: 20px;
  min-height: 20px;
  border-radius: 50%;

}
.content-circle .formule-circle:nth-child(1){
  animation :scale  2s  infinite;


}
.content-circle .formule-circle:nth-child(2){
  animation : scale  2s  infinite;
  animation-delay: 0.3s;

}
.content-circle .formule-circle:nth-child(3) {
  animation: scale 2s infinite;
  animation-delay: 0.6s;
}
.content-circle .formule-circle:nth-child(4) {
  animation: scale  2s infinite;
  animation-delay: 0.9s;

}

@keyframes scale {
  0% {
    transform: scale(1);
    background-color: #BEAF87;
  }
  50% {
    transform: scale(1.2); /* ou toute autre valeur souhaitée */
    background-color: #887e61;
  }
  100% {
    transform: scale(1);
    background-color: #BEAF87;
  }
}




.formule-explain{
  display: flex;
  background-color: white;
  justify-content: space-between;
  border-radius: 4px;
  overflow: hidden;


}

.formule-explain:hover .formules-slogan-barre{
  background-color: #8b8267;

}

.formule-explain-content{

  padding: 0px 10px;
  color: #BEAF87;
  height: 150px;
  display: flex;
  align-items: center;

}

.formule-explain-content p{
  font-size: 16px;
  font-weight: bolder;
  width :300px;
  padding: 10px 20px;


}
