.navbar{
  display: flex;
  width: 100%;
  position :fixed;
  top:0;
  overflow: hidden;
  justify-content: center;
  z-index: 3;
  padding-bottom: 50px;
  animation-name: slideBottom;
  animation-duration: 1s;
  animation-iteration-count: 1; /* Utilisez 1 si vous souhaitez que l'animation ne se répète qu'une fois */
  animation-fill-mode: forwards;

}

.navbar ul {
  background-color: #AF9140;
  display: flex;
  justify-content: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}



.navbar ul li{
  text-decoration: none;
  list-style: none;
  padding: 16px 16px;
  cursor: pointer;
  background-color: #AF9140;
  transition: all 0.3s;
}

.navbar li {
  display: flex;
  align-items: center;
  transition: height 0.3s ease;
}

.navbar ul li a{
  text-decoration: none;
  color: white;
  transition: all 0.3s;
}

.navbar li:hover {
  background-color: white;



}

.navbar li:hover a {
  color:#AF9140;

}
