@import url(component/navbar.css);
@import url(component/formules.css);
@import url(component/footer.css);
@import url(component/menumobile.css);
@import url(component/onglet.css);
@import url(component/animation.css);
@import url(component/container.css);


@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,900&display=swap');


/* general */
*{
  margin:0;
  padding:0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

h2{
  font-size: 2.5rem;
  font-weight: bolder;
}

h3{
  font-weight: 300;
}

body{
  background-color: #BEAF87;
  overflow-x: hidden;
}

.offre-header{
  background: url('../css/images/offre-connexion-top.png');
  background-size: fit;
  background-repeat: repeat-x;
  background-position: center;
  margin-bottom: 30px;

}

.offre-header .container h2 {
  margin-top: 100px;
  display: none;
 }

.offre-header .container h2 span{
  display: none;
 color: white;
 border: 1px solid white;
 font-size: 36px;
 font-weight: bolder;
 padding: 8px 24px;
}

.securite{
  position: relative;
  border-top: 1px solid white;
  padding-top: 30px;
}

.securite-flex{
  position: relative;
background-color: white;

}

.securite-flex::before{
  content:'';
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background: url('../css/images/logogold.png') repeat;
  background-size: 2%;
  opacity: 0.1; /* Ajustez cette valeur pour l'effet de transparence */
  z-index: 0;

}

.securite .container h3 {
  color: white;
  text-shadow: 0px 0px 10px #000;
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 24px;
  text-decoration: underline;
}

.container.flex{
  display: flex;
  gap :32px;
  justify-content: center;

}

.container.flex .center{
  display: flex;
  align-items: center;
  color: #BEAF87;
  padding : 16px;
  border: 2px solid #BEAF87;
  border-left: 20px solid #BEAF87;
  width : 35%;
  transition: 0.3s all;
  background-color: white;

}

.container.flex .center p{
  display: none;
}

.container.flex .center:hover{
  transform: scale(1.05);
}

.container.flex .center p{
  font-size: 18px;
  font-weight: 600;
}

.container.flex .securite-flex-content {
   color: #BEAF87;
   padding : 16px;
   font-size: 16px;
   font-weight: 300;
   border: 2px solid #BEAF87;
   border-right: 20px solid #BEAF87;
   width : 35%;
   transition: 0.3s all;
   background-color: white;
}

.container.flex .securite-flex-content:hover {
  transform: scale(1.05);
}

.container.flex .securite-flex-content h3 {
  font-size: 18px;
  font-weight: 600;
  text-shadow: none;
  color: #BEAF87;
  padding-bottom: 8px;
  text-decoration: underline;
}

.container.flex .securite-flex-content p {
  line-height:1.6;
  font-weight: 400;
}

.securite-flex {
  display: flex;
  justify-content: center;
  gap: 16px;
  background-color: white;
  padding: 50px 0;
}

.offre-controle{
  padding-bottom : 75px;
  border-bottom: 1px solid white;
 }

.offre-controle .container h3{
  color: #FFF;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin-top: 50px;

}

.offre-controle-barre {
  width:25%;
  min-height: 10px;
  background-color: #FFF;
  opacity: 0.7;
  margin-bottom: 50px;
  margin-top: 8px;
}

.offre-controle-flex{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap :16px;
}

.offre-controle-flex-block{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  transition: 0.5s all;
  z-index: 1;
}

.offre-controle-flex-block:hover{

  border-color: white;
  z-index: 5;
}




.offre-controle-flex-block img{
  width: 80px;
  height: 80px;
  background-color: white;
}

.offre-controle-flex-block p{
  color: #FFF;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  width:300px;
  padding-left: 8px;
}

.offre-button {
  margin-top: 60px;
  text-align: center;
}

.offre-button:hover > span {
  padding:32px 20px;
}

.offre-button:hover span a {
  color:grey;
}



.offre-button > span {
  border: 1px solid white;
  padding:24px 0px;
  transition: 0.3s all;

}

.offre-button span a {
  text-decoration: none;
  color:#BEAF87;
  background-color: white;
  padding:24px;
  font-size: 16px;
  font-weight: 900;
  transition: 0.3s all;
}


.offre-serenite{
  position: relative;
  padding-top: 50px;
  overflow: hidden;
  border-bottom: 10px solid white;
}

.offre-serenite::after{
  content:'';
  position: absolute;
  left:0;
  bottom: -50px;
  background: url('../css/images/offre-connexion-bottom.png');
  min-width:100%;
  height:200px;
  background-size: fit;
  background-repeat: repeat-x;
  background-position: center;
}

.offre-serenite::before{
  content:'';
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background: url('../css/images/logowhite.png') repeat;
  background-size: 2%;
  opacity: 0.1; /* Ajustez cette valeur pour l'effet de transparence */
  z-index: 0;

}

.offre-serenite .container h3 {
  color: white;
  text-shadow: 0px 0px 10px #000;
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 24px;
  text-decoration: underline;
}

.offre-serenite-content{
  margin:50px auto;
  width: 70%;
  background-color: white;
  padding: 64px 32px;
}


.offre-serenite-content p {
  color: #BEAF87;
  font-size: 16px;
  font-weight: 600;
  margin:16px 0;
  line-height: 1.8;
}

.offre-serenite-content span {
  background-color: #BEAF87;
  color: white;
  padding:8px 10px;
}

.offre-serenite .container h2 span{
  background-color: white;
  padding:8px 64px;
  color: #BEAF87;
  font-size: 32px;
}


.offre-serenite .container h2{
 text-align: center;
}

#avantages {
  margin-top: 32px;
  text-align: center;
  margin-bottom: 150px;
}

#avantages span{
  font-weight: 200;
  color:white;
  padding:8px 64px;
  font-size: 32px;
  text-decoration: underline;
}

.active{
  display:block!important;
}

.activeinline{
  display:inline!important;
}

.activeli {
  background-color: red;
}

.total{
  position:absolute;
  width:0vw;
  height: 100vh;
  transform: translateX(0%);
  z-index: 5;
  background-color: #BEAF87;
}

.movetotal{
  animation: 1.5s moveSlide;
}

@keyframes moveSlide {
  0%{
    width:0vw;
    transform: translateX(0%);
  }
  50%{
    width:100vw;
    transform: translateX(0%);
  }
  100%{
    width:100vw;
    transform: translateX(100%);
  }


}
